Package: alarm-clock
Version: 1.4.0-1
Section: misc
Architecture: all
Priority: optional
Depends: python3, python3-pyqt6, python3-pyqt6.qtsvg, python3-requests
Maintainer: chocolateimage <chocolateimage@protonmail.com>
Description: A simple alarm clock
Homepage: https://github.com/chocolateimage/alarm-clock
